.type-multiplier:not(:last-of-type) {
  margin-bottom: 0.4rem;
}

.ui.label.multiplier-badge {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.4em !important;
  min-height: 1.9rem;
  min-width: 1.9rem;
  width: 1.9rem;
  height: 1.9rem;
  line-height: 1rem;
  position: relative;
  font-weight: 400;
}

.ui.label.multiplier-badge.fraction span {
  transform: scale(1.4);
  display: block;
}
